<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Instructions</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/addae523af.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/e6d7f56f4e.js"></script>

    <!-- Libraries " for('static',filename=) " Stylesheet -->
    <link href="https://instructions-eight.vercel.app/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://instructions-eight.vercel.app/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://instructions-eight.vercel.app/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="https://instructions-eight.vercel.app/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="https://instructions-eight.vercel.app/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <nav>
        <h2>Team Phoenix</h2>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about_us') }}">About</a></li>
            <li><a href="{{ url_for('contact_us') }}">Contact_us</a></li>
        </ul>
    </nav>
    <!-- Navbar End -->

    <!-- Team Start -->
    <div class="container-top">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase"> &nbsp;</h6>
                <h1 class="mb-5"> &nbsp;</h1>
            </div>

        </div>
    </div>
    <!-- Team End -->
    <!-- Team Start -->
    <div class="container-top">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// Instructions Page //</h6>
                <h1 class="mb-5">How to build your own model</h1>
            </div>

        </div>
    </div>
    <!-- Team End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4" style="background-color: #f6f5f5a3;">
                        <i class="fa fa-book fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Well Documented</h5>
                            <p>Clear step by step instructions to prepare your own model. You cannot go wrong.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Less Time</h5>
                            <p>Gives right guidelines and proper steps & thus saving the time from searching. </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4" style="background-color: #f6f5f5a3;">
                        <i class="fa fa-code fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">No Coding</h5>
                            <p>Need not have any prior knowledge. All you need to do is folow step by step.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">

                    <h1 class="mb-4"><span class="text-primary">Instructions:</span> Google collab (For Developers)</h1>
                    <p class="mb-4">It is a cloud-based Jupyter notebook environment provided by Google. It allows users to write and execute Python code collaboratively, with the convenience of shared access, real-time editing, and powerful computational resources. You can go to <a href="https://colab.research.google.com/drive/1jU7AdARwqPc12_gHHK23Z2U0B02WbyLQ#scrollTo=a31kSyp1Qcai">our shared google collab</a> to get in detailed instructions.</p>
                    <br>
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Install the modules</h6>
                                    <span>All required modules can be installed in a single go</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Unzip the images</h6>
                                    <span>Zip file name to be written between the double quotes</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Modify the input parameters</h6>
                                    <span>Change values <b>epochs</b> and <b>batch_size</b> based on the amount of classes present</span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Copy paste this div block to make as many as want-->
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">04<!-- change num here --></span>
                                </div>
                                <div class="ps-3">
                                    <h6>Getting the tflite & label file</h6>
                                    <span>Saves the model as .tflite & label file in the specified path</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">05<!-- change num here --></span>
                                </div>
                                <div class="ps-3">
                                    <h6>Uploading the files</h6>
                                    <span>Upload the obtained files & thus create your model</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">06<!-- change num here --></span>
                                </div>
                                <div class="ps-3">
                                    <form action="/my_model" method="post">
                                        <h6>tflite</h6>
                                        <input type="file" name="tflite" >
                                        <h6>label</h6>
                                        <input type="file" name="label">
                                        <input type="submit" value="Upload">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                            .powershell {
                                font-family: Consolas, monospace;
                                padding: 10px;
                                border-radius: 4px;
                                background-color: #1c1e21;
                                color: #d4d4d4;
                            }
                            
                            .yellow {
                                color: #f7ce5b;
                            }
                            
                            .grey {
                                color: #9e9e9e;
                            }
                            
                            .blue {
                                color: #4da8da;
                            }

                </style>
                <h1 class="mb-4"><span class="text-primary">Instructions:</span> Non-Technical Users </h1>
                <p >For non-technical users, creating your own sign language translator is as simple as </p>
                    <ol>
                        <li>zip your collection of images segregated by class</li>
                        <li>post it and provide the classes of the images</li>
                        <li>your set to go!!!</li>
                    </ol>
                
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s" >
                        <!DOCTYPE html>
                       <!--  Code snippet layout starts-->
                        <div class="title-bar">Code for Windows(powershell)</div>
                        <div class="code" style="overflow: hidden; font-size: large;">                 
        <code>
            <span class="yellow">Compress-Archive</span> <span class="grey">-Path</span> <span class="blue">'directory'</span> <span class="grey">-DestinationPath</span> <span class="blue">'archive.zip'</span></pre>
        </code>
    </div><br>

                    <div class="col-lg-6 pt-4" style="min-height: 400px;">
                        <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s" >
                            <!DOCTYPE html>
                        <!--  Code snippet layout starts-->
                            <div class="title-bar">Code for Linux/Mac-os</div>
                            <div class="code" style="overflow: hidden; font-size: large;">                 
                <code>
                <span>zip -rq9 archive.zip 'file-path'  </span></pre>
                </code>
                
                </div><br>
                        <!-- Code snippet layout ends-->
                        <form action="/my_model" method="POST" style="background-color: #94d5f8; padding: 10px; border-radius: 15px;">
                            <h6>Image zip file</h6>
                            <input type="file" name="imgzip">
                            <h6>Write the classes (make sure to include "enter" class to make it convinent)</h6>
                            <textarea name="faker" cols="25" rows="5" style="padding: 20px;"></textarea>
                            <br>
                            <input type="submit" value="Upload">
                        </form>
                        </ng-picker-overlay>
                          </div>
                          <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
                          <script src="{{ url_for('static', filename='main.js') }}"></script>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">126</h2>
                    <p class="text-white mb-0">Model's built</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">2048</h2>
                    <p class="text-white mb-0">People using</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s"><i
                        class="fa-regular fa-face-smile fa-2x" style="color: #ffffff;"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1896</h2>
                    <p class="text-white mb-0">Satisfied Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa-solid fa-gear-code fa-lg"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">10234</h2>
                    <p class="text-white mb-0">Service used</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->





    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="text-primary text-uppercase">// Testimonial //</h6>
                <h1 class="mb-5">What Our Users Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-1.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Naruto Uzumaki</h5>
                    <p>A technology enthusiast</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">I am impressed by this sign language detection project. It showcases the potential of computer vision and machine learning in improving accessibility for individuals with hearing impairments. It's an inspiring example of how technology can bridge communication gaps and create a more inclusive society.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-2.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Monkey D. Luffy</h5>
                    <p>Healthcare professional</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0"> I find this sign language detection project immensely helpful in my interactions with patients who use sign language. It ensures accurate interpretation of their gestures, enabling me to provide personalized care and address their needs effectively. It's a valuable tool for inclusive healthcare.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-3.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Levi Ackerman</h5>
                    <p>Business owner</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">I see the practical benefits of this sign language detection project. By implementing it in customer service interactions, we can better cater to customers who use sign language. It enhances our ability to provide excellent service and ensures that all customers feel valued and understood.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="static/img/testimonial-4.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Light Yagami</h5>
                    <p>Teacher</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Working with students who have hearing impairments, this sign language detection project is a game-changer. It allows me to provide real-time feedback and support during sign language lessons, fostering better communication and understanding in the classroom</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://instructions-eight.vercel.app/lib/wow/wow.min.js"></script>
    <script src="https://instructions-eight.vercel.app/lib/easing/easing.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/waypoints/waypoints.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/counterup/counterup.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/tempusdominus/js/moment.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="https://instructions-eight.vercel.app/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="static/js/main-index.js"></script>
    <script src="static/js/main-forms.js"></script>
</body>

</html>